<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
     <servlet-name>net.i2p.orchid.web.OrchidServlet</servlet-name>
     <servlet-class>net.i2p.orchid.web.OrchidServlet</servlet-class>
     <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- precompiled servlets -->

    <servlet-mapping> 
      <servlet-name>net.i2p.orchid.web.OrchidServlet</servlet-name>
      <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet-mapping> 
      <servlet-name>net.i2p.orchid.web.OrchidServlet</servlet-name>
      <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>

</web-app>
