#
# Uncomment a line and add a value to override default
# Requires plugin stop and restart
#
#bridges=
#circuitBuildTimeout=
#circuitIdleTimeout=
#circuitStreamTimeout=
#clientRejectInternalAddress=
#enforceDistinctSubnets=
#numEntryGuards=
#entryNodes=
#excludeExitNodes=
#excludeNodes=
#exitNodes=
#fascistFirewall=
#firewallPorts=
#handshakeV2Enabled=
#handshakeV3Enabled=
#longLivedPorts=
#maxCircuitDirtiness=
#maxClientCircuitsPending=
#newCircuitPeriod=
#safeLogging=
#safeSocks=
#strictNodes=
#useBridges=
#useMicrodescriptors=
#useNTorHandshake=
#warnUnsafeSocks=
