name=orchid
signer=zzz-plugin@mail.i2p
consoleLinkName=Orchid
consoleLinkURL=/orchid
description=Tor Outproxy
author=zzz
updateURL=http://stats.i2p/i2p/plugins/orchid-update.xpi2p
websiteURL=http://zzz.i2p/forums/16
license=BSD
min-jetty-version=7
#  TODO higher for hook
min-i2p-version=0.9.9
# ???
min-java-version=1.5
